
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="container" id="container">
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Please check Your Inbox</p>
				<a href="https://mail.google.com/mail/u/0/#inbox">gmail</a>
			</div>
		</div>
	</div>
</div>



