@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form asp-action="ResetPassword">
			<h1>Reset Password</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input hidden asp-for="Email" />
			<input hidden asp-for="Token" />
			<input asp-for="Password" placeholder="New Password" />
			<input asp-for="ConfirmPassword" placeholder="Confirm Password" />

			<button class="button">submit</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<a asp-action="signup" class="button ghost" id="signUp">Sign Up</a>
			</div>
		</div>
	</div>
</div>


