@model EmployeeViewModel
@{
	ViewData["Title"] = "Creat Employee";
}

<h1>Creat Employee</h1>
<br />
<br />

<form asp-action="Create" enctype="multipart/form-data">

	<partial name="PartialViews/CreateEditEmployeePartial" />

	<div class="mt-3">
		<input type="submit" value="Create" class="btn btn-primary" /> |
		<a asp-action="Index" class="btn btn-light">Back to list</a>
	</div>
</form>

@section ValidationScriptsSections
{
	<partial name="_ValidationScriptsPartial" />
	@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script> *@
}