@model Employee
@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>

<br />
<br />

<form asp-action="Create">
    <partial name="PartialViews/DetailsDeletePartial" />   
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-light">Back to list</a>
    </div>
</form>