@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit Employee";
}

<h1>Edit Employee</h1>
<br />
<br />

<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="PartialViews/CreateEditEmployeePartial" />
    <div class="mt-3">
        <input type="submit" value="Save" class="btn btn-primary" /> |
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </div>
</form>

@section ValidationScriptsSections {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
}